<%- include('includes/head.ejs') %> 

</head>

<body>
    <%- include('includes/nav.ejs') %> 

    <main>
        <h1>Sorry, the page you were looking for was not found</h1>
        <h2>Error 404...</h2>
        <p>Please click on one of the navigation bar links above and continue</p>
    </main>
<%- include('includes/end.ejs') %> 